* {
       margin: 0;
       padding: 0;
   }
   
   header,
   footer {
      width: 100%;
      height: 120px;
<<<<<<< HEAD
      background-color: blue;
=======
      backgroud-color: blue;
>>>>>>> 586a905ef1b7ff763ed470d6d279ed446b37b5bd
      color: white;
   }

   h1,
   h2 {
       text-align: center;
   }
   img {
       display: block;
       height: 50px;
       width: 50px;
       margin-left: auto;
       margin-right: auto;
   }
   
   ul {
       padding-left: 40px;
       font-size: 20px;
   }
   p {
      text-align: center;
      font-size: 30px;
   }